* {
  margin: 0;
  padding: 0;
}
/* body{
  
} */

.header {
  width: 100%;
  height: 196px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  background: url('../image/home-bg.png')  no-repeat;
  background-size: 100% auto;
}
.header img{
  padding-top: 20px;
  width: 70%;
}
.header form {
  width: 90%;
  height: 40px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border-radius: 30px;
  padding-right: 20px;
  background: #fff;
}
.header form input {
  width: 80%;
  padding-left: 15px;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 14px;
  color: #aeaeae;
}
section {
  padding: 30px 15px;
  border-bottom: 1px solid #f5f8f9;
}
section:last-of-type{
  border-bottom: none;
}
.header form button {
  border: none;
  background-color: transparent;
  outline: none;
  color: #5bd4c7;
}
article header {
  display: flex;
}
article header img{
  width: 50px;
}
article header h4 {
  margin: auto 0;
  padding-top: 5px;
  padding-left: 15px;
}
article .list {
  display: flex;
  flex-wrap: wrap;
}
article .list div{
  margin: 5px;
  padding: 5px 16px;
  border-radius: 20px;
  background-color: #f5f8f9;
  font-size: 14px;
  color: #aeaeae;
}
footer{
  display: flex;
  padding-top: 20px;
  padding-bottom: 50px;
  flex-flow: column;
  align-items: center;
  font-size: 12px;
  color: #919aa7;
}
